html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
  overflow: hidden;
}

.PreText {
  white-space: pre-line;
}

.os-theme-body {
  --os-size: 7px;
}

.os-theme-body .os-scrollbar-handle {
  background: $alpha;
  border-radius: 0px;
  height: 85px;
}

.os-theme-body .os-scrollbar-track {
  background: transparent;
}

h1 {
  font-size: clamp(17px, 2.5vw, 19px);
  color: $white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hr-container {
  max-width: 312px;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background-color: $bravo;
  margin: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#canvas-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  margin: auto;
}

#canvas-wrapper .quad {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  image-rendering: pixelated;
  z-index: 1;
  border: 1px solid $charlie;
  border-radius: 5px;
  touch-action: none;
  -ms-touch-action: none;
}

#canvas-wrapper .fill {
  position: absolute;
  background-color: $bravo;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.output-container {
  aspect-ratio: 2.5 / 1;
}

.label-grid {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    opacity: 0.9;
  }
}

.button,
.alert-success,
.label-grid img,
#canvas-wrapper .quad {
  border-radius: 5px;
}


.button {
  background-color: $alpha;
  color: $white;
  border: none;
}

.button-small {
  font-size: 12px;
}

.button-large {
  font-size: 14px;
  span {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    will-change: transform;
    font-size: 18px;
  }
  &:hover span {
    transform: translateX(25%);
  }
}

.alert {
  font-size: 13px;
  height: 36px;
  color: $white;
}

.spinner {
  object-fit: contain;
  opacity: 1;
}
